
.crimelife-starter-kit,
.crimelife-starter-kit * {
  box-sizing: border-box;
}
.wallpaperflare-1 {
  width: 1920px;
  height: 1080px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.crimelife-starter-kit {
  background: var(--background-color);
  border-radius: 20px;
  width: 800px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.charrakter {
  width: 231px;
  height: 383px;
  position: absolute;
  left: 0px;
  top: 217px;
}
.title {
  color: var(--titlecolor);
  text-align: left;
  font: 400 32px/80px "PPMonumentExtended-Heavy";
  position: absolute;
  left: 51px;
  top: 30px;
  width: 742px;
  height: 80px;
}
.rectangle-1 {
  background: var(--weaponviereckcolor);
  border-radius: 15px;
  width: 306px;
  height: 325px;
  position: absolute;
  left: 72px;
  top: 138px;
}
.rectangle-2 {
  background: var(--weaponviereckcolor);
  border-radius: 15px;
  width: 306px;
  height: 325px;
  position: absolute;
  left: 417px;
  top: 138px;
}
.appistol {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 175px;
  top: 250px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ap-pistole {
  color: #ffffff;
  text-align: left;
  font: 400 28px "NicoMoji";
  position: absolute;
  left: 136px;
  top: 179px;
}
.advanced {
  width: 130px;
  height: 50px;
  position: absolute;
  left: 516px;
  top: 250px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.advanced-rifle {
  color: #ffffff;
  text-align: left;
  font: 400 28px "NicoMoji";
  position: absolute;
  left: 438px;
  top: 179px;
}
.mag-size-18 {
  color: #ffffff;
  text-align: left;
  font: 400 28px "NicoMoji";
  position: absolute;
  left: 115px;
  top: 375px;
}
.mag-size-30 {
  color: #ffffff;
  text-align: left;
  font: 400 28px "NicoMoji";
  position: absolute;
  left: 460px;
  top: 375px;
}
.extended-mag-size-36 {
  color: #ffffff;
  text-align: left;
  font: 400 20px "NicoMoji";
  position: absolute;
  left: 79px;
  top: 418px;
  width: 321px;
}
.extended-mag-size-60 {
  color: #ffffff;
  text-align: left;
  font: 400 20px "NicoMoji";
  position: absolute;
  left: 425px;
  top: 418px;
}
.accept {
  background: var(--buttoncolor);
  border-radius: 20px;
  width: 410px;
  height: 60px;
  position: absolute;
  left: 195px;
  top: 501px;
}
.accept:hover {
  background-color: azure;
}
.abholen {
  color: #000000;
  text-align: left;
  font: 400 24px "NicoMoji";
  position: absolute;
  left: 336px;
  top: 516px;
}
.rectangle-4 {
  background: var(--titlelinie);
  border-radius: 35px;
  width: 715px;
  height: 10px;
  position: absolute;
  left: 42px;
  top: 93px;
}
